.animal-container {
  width: 90% !important;
}

.timer {
  padding-top: 4em;
}

.game-over-alert {
  /* placement of box*/
  left: 30%;
  bottom: auto;
  z-index: 1;
  position: fixed;
  top: 20%;
  right: 0;

  /* appearance of box */
  background: rgb(223, 223, 223);
  padding: 4em;
  width: 30%;
}

i.green.check.circle.outline.large.icon {
  width: 90%;
}

.game-over-alert-text {
  font-size: 1.8em;
  color: rgb(203, 59, 51);
  align-self: center;
}

button.ui.red.button.alert-to-scores {
  margin-left: 30%;
  margin-top: 10%;
}

@media screen and (max-width: 400px) {
  .game-over-alert-text {
    font-size: 1.4em;
  }

  .game-over-alert {
    left: 20%;
    right: 20%;
    bottom: auto;
    padding: 1.5em;
    width: 12em;
  }

  button.ui.red.button.alert-to-scores {
    margin-top: 6em;
    margin-left: 10%;
  }
}
