.score-list-container {
  padding-top: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.score-list-wrapper {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRliOlQSyEyIfRYfq1T97haw-ylU41zrg7bRGlkKEgDlCeUUJ-q");
}

.score-header {
  font-size: 3em;
  text-align: center;
  color: white;
}

.new-game-scores {
  text-align: center;
}
